.ad {
  position: relative;
  width: 100%;
}

.ad .image img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.ad .content {
  background-color: rgba(255, 255, 255, 0.4);
  bottom: 0;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  font-size: clamp(1rem, var(--font-size) + 2vw, 3rem);
  justify-content: space-around;
  left: 0;
  padding-left: calc(var(--spacing) * 2);
  padding-right: calc(var(--spacing) * 2);
  position: absolute;
  right: 0;
  top: 0;
}

@media (min-width: 1000px) {
  .ad .content {
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: var(--spacing);
  }
}

.ad a {
  color: var(--color-text);
  font-variation-settings: 'wght' 700;
  text-decoration: underline;
}
