/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;
}
/* og látum erfast á allt */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size);
  line-height: 1.5;
  padding-top: var(--spacing);
}

h1,
h2,
h3 {
  font-family: var(--font-family-heading);
}

a {
  color: var(--color-link);
  text-decoration: none;
}
