@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  src: url('./fonts/inter.ttf') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Playfair Display';
  font-style: normal;
  src: url('./fonts/playfair-display.ttf') format('woff');
}
