.most-read h2 {
  margin-bottom: calc(var(--spacing) / 2);
}

.most-read ol {
  padding-left: var(--gutter);
}

.most-read ol li {
  border-bottom: 1px solid var(--color-border);
  margin-bottom: calc(var(--spacing) / 2);
  padding-bottom: calc(var(--spacing) / 2);
}

.most-read ol li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
